{% extends 'spanish-store/layouts/base.html' %}
{% block content %}
<div class="container">
    <div class="row">
        <div class="col-12">

<h3>1. Qué son los parches contra el cáncer?</h3>
<p>Los parches contra el cáncer se basan en más de diez tipos de extractos de hierbas y utilizan tecnología nanotransdérmica para administrar medicamentos de manera eficiente a las células cancerosas a través de los puntos meridianos.</p>
<br>
<hr>
<h3>2. Por qué funcionan los parches contra el cáncer?</h3>
            <p><b>*</b> La capacidad de estos medicamentos para inhibir el crecimiento de células cancerosas se ha informado en la ciencia clínica, pero aún no ha obtenido el permiso de la FDA.</p>
<p><b>*</b> El inventor utilizó el fenómeno de la simetría de los meridianos para dividir estos medicamentos en grupos fríos y calientes. Los calientes se pegan en los puntos de acupuntura derechos y los fríos se pegan en los puntos de acupuntura izquierdos. Clínicamente, es mucho mejor que tomar estas hierbas juntas.</p>
<br>
<hr>
<h3>3. Composición del parche de cáncer?</h3>
<p>Canela Mostaza, Semilla De Neem Artemisia Annua Phellodendron Curcuma. . . .</p>
<br>
<hr>
<h3>4. parche de cáncer que pertenecen a la filosofía de la medicina?</h3>
<p>Consideración general, acumulación de experiencia previa, desempeño clínico efectivo y búsqueda de formas efectivas de mejorar la enfermedad.</p>
<br>
<hr>
<h3>5. Diferencias entre filosofía médica y ciencia médica?</h3>
<p><b>*</b> Uno es la experiencia acumulada y las estadísticas clínicas aproximadas. Una estadística experimental que requiere más refinamiento de lo que es completamente ideal. Incluso si acude a un médico occidental para ver un resfriado, inicialmente no usaron una serie de pruebas rigurosas de instrumentos, y le recetan medicamentos según la experiencia..</p>
<p><b>*</b> Una definición de ciencia, tasa de repetición del 99,9%, la ciencia médica está demasiado atrasada, solo pertenece a la ciencia en ciernes</p>
<br>
<hr>
<h3>6. Exactitud y precisión científica?</h3>
<p><b>*</b>Si la precisión de la ciencia está sesgada, sus resultados están sesgados, sin importar qué tan buena sea su precisión.
Es como si tuvieras un rifle muy preciso, pero la mira delantera está mal, no importa cómo dispares, no puedes dar en el blanco. Son 60 años en los que todos los aspectos de la ciencia han avanzado a pasos agigantados, mientras que la medicina occidental ha avanzado muy poco en el tratamiento del cáncer..</p>
<p><b>*</b> Es cierto que algunas personas se curan con la medicina occidental. Del mismo modo, algunos pacientes con cáncer no han sido tratados, o algunos pacientes con cáncer se han curado con tratamientos alternativos..</p>
<br>
<hr>
<h3>Dos conceptos erróneos sobre el cáncer</h3>
<p>La primera es que las células cancerosas son mutaciones de sus propias células debido a cambios en el entorno químico y no están infectadas por el mundo exterior, o las propias células cancerosas se trasladarán a otros lugares. Usar la palabra contagio o transferencia es un concepto erróneo. Una vez que hay cáncer en un lugar determinado, todo el cuerpo está lleno de células cancerosas, pero el lugar frágil crece más rápido y no se puede detectar en otros órganos. No quiere decir que no haya células cancerosas, porque la precisión del instrumento no es suficiente. Entonces, cuando una persona tiene cáncer de hígado y luego cáncer de pulmón tres meses después, se dice que ha hecho metástasis en los pulmones. Eso está mal, crecieron en tándem y se convirtieron en cáncer de pulmón.</p>
<br>
<p>El segundo punto de vista erróneo es que, aunque se eliminan las células cancerosas, su entorno fisiológico y químico no ha cambiado. Así como recogiste todas las naranjas del árbol, el próximo año habrá naranjas. Inyectar químicos es como la quimioterapia, entonces todas las naranjas se caerán, las ramas y las hojas morirán y todo el árbol morirá. Este es el fenómeno de la quimioterapia.</p>
<br>
<p>El método de la filosofía médica es inyectar el agente de caída de la fruta, solo la fruta caerá, o la fruta no crecerá, y las otras ramas y hojas seguirán floreciendo. Este es el método de la filosofía médica. La quimioterapia y la cirugía de escisión, la ciencia en ciernes de la medicina occidental, resuelven el resultado pero no la causa</p>

        </div>
    </div>
</div>
            {% endblock content %}