{% extends 'hindi-store/layouts/base.html' %}
{% block content %}
<div class="container">
    <div class="row">
        <div class="col-12">

<h3>1. कैंसर पैच क्या हैं?</h3>
<p>ध्यम से कैंसर कोशिकाओं को कुशलतापूर्वक दवाओं क वित्रत करने लिए नो-म्ररर ल तकनीक का उपयोग करथे हैं।</p>
<br>
<hr>
<h3>2. कैंसर पैच वर्क क्यों करते हैं?</h3>
            <p><b>*</b> इन दवाओं की कैंसर कोशिकाओं के विकास को रोकने की क्षमता नैदानतात ई है, लेकिन अभी तक एफडीए की अनुमति प्रापह्त नीं हुई है</p>
<p><b>*</b> आविष्कारक ने इन दवाओं को ठंडे और गर्म समूहिरराते हैं, और ठंडे वाले बाएँ प्रतिबिम्ब बिन्दु पर चिपकाए जाते हैननतर ूप से, यह इन जड़ी बूटियों को एक साथ लेने से कहीं बेहतर है</p>
<br>
<hr>
<h3>3. कैंसर पैच की संरचना?</h3>
<p>दालचीनी सरसों, नीम के बीज आर्टेमिसिया अन्नुआ फेलोडेंड्रोन कुरकुमा. . . .</p>
<br>
<hr>
<h3>4. कैंसर पैच जो चिकित्सा के दर्शन से संबंधित हैं?</h3>
<p>समग्र विचार, पिछले अनुभव का संचय, प्रभावी नैदानिक प्रदर्शन, और रोग में सुधार के प्रभावी तरीके खोजना</p>
<br>
<hr>
<h3>5. चिकित्सा दर्शन और चिकित्सा विज्ञान के बीच अंतर?</h3>
<p><b>*</b> एक संचित अनुभव और मोटे नैदानिक आँकड़े हैं। एक प्रायोगिक आँकड़ा जिसके लिए पूरी तरह से आदर्श से अधिक परिशोधन की आवश्यकता होती है। यहां तक कि अगर आप सर्दी-जुकाम देखने के लिए किसी पश्चिमी डॉक्टर के पास भी जाते हैं, तो उन्होंने शुरू में कठोर उपकरण परीक्षणों की एक श्रृंखला का उपयोग नहीं किया, और वे अनुभव के आधार पर आपके लिए दवा लिखते हैं.</p>
<p><b>*</b> विज्ञान की एक परिभाषा, 99.9% रिपीटेशन रेट, मेडिकल साइंस बहुत पीछे, सिर्फ नवोदित विज्ञान का है</p>
<br>
<hr>
<h3>6. वैज्ञानिक सटीकता और सटीकता?</h3>
<p><b>*</b> यदि विज्ञान की सटीकता पक्षपाती है, तो उसके परिणाम पक्षपाती हैं, चाहे आपकी सटीकता कितनी भी अच्छी क्यों न हो
यह ऐसा है जैसे आपके पास बहुत सटीक राइफल है, लेकिन सामने का दृश्य गलत है, चाहे आप कैसे भी गोली मारें, आप बुल्सआई को नहीं मार सकते। यह 60 वर्ष है जिसमें विज्ञान के सभी पहलुओं ने छलांग और सीमा से प्रगति की है, जबकि पश्चिमी चिकित्सा ने कैंसर के इलाज में बहुत कम प्रगति की है।.</p>
<p><b>*</b> यह सच है कि कुछ लोग पश्चिमी चिकित्सा से ठीक हो जाते हैं। इसी तरह, कुछ कैंसर रोगियों का इलाज नहीं हो पाया है, या कुछ कैंसर रोगियों को वैकल्पिक उपचारों से ठीक कर दिया गया है।</p>
<br>
<hr>
<h3>कैंसर के बारे में दो भ्रांतियां</h3>
<p>पहला यह है कि रासायनिक वातावरण में परिवर्तन के कारण कैंसर कोशिकाएं अपनी स्वयं की कोशिकाओं के उत्परिवर्तन हैं, और वे बाहरी दुनिया से संक्रमित नहीं हैं, या कैंसर कोशिकाएं स्वयं अन्य स्थानों पर चली जाएंगी। छूत या स्थानांतरण शब्द का उपयोग करना एक गलत धारणा है। एक बार एक निश्चित स्थान पर कैंसर हो जाने पर, पूरा शरीर कैंसर कोशिकाओं से भर जाता है, लेकिन नाजुक जगह तेजी से बढ़ती है और अन्य अंगों में इसका पता नहीं लगाया जा सकता है। इसका मतलब यह नहीं है कि कैंसर कोशिकाएं नहीं हैं, क्योंकि उपकरण की सटीकता पर्याप्त नहीं है। इसलिए जब किसी व्यक्ति को लिवर कैंसर हो जाता है और फिर तीन महीने बाद फेफड़े का कैंसर हो जाता है, तो कहा जाता है कि यह फेफड़ों में मेटास्टेसाइज हो गया है। यह गलत है, वे एक साथ बढ़े और फेफड़ों के कैंसर बन गए|</p>
<br>
<p>दूसरा गलत दृष्टिकोण यह है कि यद्यपि कैंसर कोशिकाओं को हटा दिया जाता है, उनका शारीरिक और रासायनिक वातावरण नहीं बदला है। जैसे आपने पेड़ से सारे संतरे तोड़ लिए, वैसे ही अगले साल संतरे होंगे। रसायनों का इंजेक्शन लगाना कीमोथैरेपी की तरह है, तो सारे संतरे झड़ जाएंगे, शाखाएं और पत्ते मर जाएंगे, और पूरा पेड़ मर जाएगा। यह कीमोथेरेपी की घटना है.</p>
<br>
<p>चिकित्सा दर्शन की विधि फल ड्रॉप एजेंट को इंजेक्ट करना है, केवल फल गिरेगा, या फल नहीं बढ़ेगा, और अन्य शाखाएं और पत्ते अभी भी फलते-फूलते रहेंगे। यह चिकित्सा दर्शन की पद्धति है। रसायन चिकित्सा और छांटना शल्य चिकित्सा, पश्चिमी चिकित्सा का उभरता हुआ विज्ञान, परिणाम को हल करता है लेकिन कारण को नहीं</p>

        </div>
    </div>
</div>
            {% endblock content %}