{% extends 'hindi-store/layouts/base.html' %}
{% block content %}
<div class="container">
    <div class="row">
        <div class="col-12 about">
            <h4 class="head">हमारे बारे में</h4>
            <p>हम ताइवान में शाखाओं के साथ लॉस एंजिल्स, कैलिफ़ोर्निया में स्थित अमेरिकी अंकल सैम मंदिर हैं। गैर-इनवेसिव कैंसर की रोकथाम और उपचार की वकालत करें, रोगियों को जीवन भर के लिए मुफ्त कैंसर स्टिकर प्रदान करें। कैंसर रोगियों की मदद करें। बिना एक भी पैसा खर्च किए दर्द कम करें और जीवन को लम्बा करें। दुनिया भर में 50 मिलियन कैंसर रोगियों की सेवा करते हुए, हम कोई दान स्वीकार नहीं करते हैं।</p>
            <p class="para">एसोसिएशन की संस्थापक लिनी चियांग 71 साल की हैं। उनके परिवार के पांच सदस्य अलग-अलग तरह के कैंसर से पीड़ित थे। इनमें से चार की मौत हो चुकी है। मृतक परिवार के सदस्यों की औसत जीवन प्रत्याशा 54 वर्ष है। पूरी दुनिया में कैंसर रोगियों की मुफ्त में मदद करने के लिए उनके आविष्कार का उपयोग करने का दृढ़ संकल्प।</p>
            <p>चिपकने वाले पैच में हर्बल दवाओं के सक्रिय तत्व होते हैं, और नैनो-ट्रांसडर्मल तकनीक के साथ प्रासंगिक एक्यूपंक्चर बिंदुओं पर चिपकाए जाते हैं। दवाओं को शिरोबिंदु के माध्यम से कैंसर कोशिकाओं तक पहुँचाया जा सकता है और उनकी वृद्धि को रोका जा सकता है। उसी समय, सममित चिपकाने की विधि का आविष्कार किया गया था, और सममित मेरिडियन के दोनों किनारों पर ठंडे और गर्म पैच चिपकाए गए थे, ताकि लोगों की प्रतिरक्षा इन दो प्रकार के औषधीय गुणों को अवशोषित कर सके और स्वचालित रूप से उनका प्रभावी उपयोग कर सके, जो पारंपरिक मौखिक मिश्रण और उबालने से बेहतर है। हर्बल सूप, अधिक प्रभावी</p>
            <p class="para">संस्थापक ने www.fatebook.org का भी आविष्कार किया, जिसके माध्यम से लोगों के जन्मदिन की जानकारी का उपयोग लोगों के आनुवंशिक दोषों का सांख्यिकीय विश्लेषण करने और उन्हें सुधारने के तरीके खोजने के लिए किया जा सकता है। उदाहरण के लिए, यह वेबसाइट बिल गेट्स के पार्किंसंस रोग के कारण का तुरंत पता लगा सकती है, हमारे विशेष पैच का उपयोग कर सकती है, और एक सप्ताह तक चिपके रहने के बाद, आप रक्त परीक्षण रिपोर्ट में एक महत्वपूर्ण सुधार देख सकते हैं।</p>
            <p>पैरों के तलुवों के प्रतिबिम्ब बिन्दुओं पर हमारे पैच चिपकाए जा सकते हैं और आधे घंटे में बुखार तुरंत उतर जाएगा। यह सुरक्षित, प्रभावी, तेज और गैर-आक्रामक है, और इसके बहुत सारे नैदानिक प्रमाण हैं</p>
            <h6 class="float-end">Info: gary7302@gmail.com , Watsapp : +1 626 782 5322 , WeChat : gary7302</h6>
        </div>

         {% for data in category %}
            <div class="col-12 col-md-6 col-lg-4">
                <div class="card mt-2">
                    <div class="card-body text-center">
                        <img src="{{ data.image.url }}" class="w-100" />

                        <h5 class="card-title">{{data.name}}</h5>
                        <a href="{% url 'hindicomment' data.id %}" class="btn btn-primary">रोगी मंच</a>
                    </div>
                </div>
            </div>
        {% endfor %}
        {% endblock content %}
    </div>
</div>