{% extends 'spanish-store/layouts/base.html' %}
{% block content %}
<div class="container">
    <div class="row">
        <div class="col-md-6">
            <form method="post" action="">
                {% csrf_token %}
                <div class="mb-3">
                    <label for="" class="form-label">Ingrese el nombre de usuario debe ser correo electrónico</label>
                    {{form.username}}
                    {% if form.errors.username %}
                    <label class="text-danger">{{ form.errors.username }}</label>
                    {% endif %}
                </div>
                <div class="mb-3">
                    <label for="" class="form-label">Introduce tu correo electrónico</label>
                    {{form.email}}
                    {% if form.errors.email %}
                    <label class="text-danger">{{ form.errors.email}}</label>
                    {% endif %}
                </div>
                <div class="mb-3">
                    <label for="" class="form-label">Ingresa tu contraseña</label>
                    {{form.password1}}
                    {% if form.errors.password1 %}
                    <label class="text-danger">{{ form.errors.password1 }}</label>
                    {% endif %}
                </div>
                <div class="mb-3">
                    <label for="" class="form-label">Confirmar la contraseña</label>
                    {{form.password2}}
                    {% if form.errors.password2 %}
                    <label class="text-danger">{{ form.errors.password2}}</label>
                    {% endif %}
                </div>
                <button type="submit" class="btn btn-primary">Entregar</button>
            </form>
        </div>
    </div>
</div>

{% endblock content %}